Câu 1:

In [22]:
from datetime import datetime

def Tinh_ngay(date_str):
    input_date = datetime.strptime(date_str, "%d/%m/%Y")

    end_of_year = datetime(input_date.year, 12, 31)
    ans = (end_of_year - input_date).days

    return ans

input_date = input("Nhập vào một chuỗi ngày (dd/mm/yyyy): ")

result = Tinh_ngay(input_date) + 1
print(result)

Nhập vào một chuỗi ngày (dd/mm/yyyy): 12/05/2001
234

Câu 2:

In [26]:
# Nhập số lượng số và danh sách số từ người dùng
n = int(input())
a = list(map(int, input().split()))

# lấy kết quả
ans_list = [num for num in a if num % 2 != 0]
ans_list.sort()

# In kết quả
print(len(ans_list))
print(" ".join(map(str, ans_list)))

10
1 4 29 187 2 30 50 87 12 34
4
1 29 87 187

Câu 3:

In [25]:
import re
# Nhập chuỗi
chuoi = input("Nhập vào một chuỗi: ")

# Tìm số trong chuỗi
so_list = re.findall(r'-?\d+', chuoi)

# Tính tổng các số
ans = sum(map(int, so_list))

# In kết quả
print(ans)

Nhập vào một chuỗi: chitu21anh34kdf-234
-179

Câu 4:

In [32]:
n = int(input())
arr = list(map(int, input().split()))
even = sum(num for num in arr if num % 2 == 0)
odd = sum(num for num in arr if num % 2 != 0)
if (even > odd):
  print('even')
elif (even < odd):
  print('odd')
else:
  print('equal')

5
1 2 3 4 5
odd

Câu 5:

In [34]:
# trai phang list
def solve(my_list):
    res = []
    for i in my_list:
        if isinstance(i,list):
            res.extend(solve(i))
        else:
            res.append(i)
    return res

my_list = [0, 10, [20, 30], 40, 50, [60, 70, [70, 80], 80], [90, 100, 110, 120]]
ans = solve(my_list)
print(ans)

[0, 10, 20, 30, 40, 50, 60, 70, 70, 80, 80, 90, 100, 110, 120]

Câu 6:

In [44]:
my_list = [num for num in input().split()]
my_list.sort()

tmp = []
ans = []

for i in my_list:
    if not tmp or i == tmp[-1]:
        tmp.append(i)
    elif i != tmp[-1]:
        ans.append(tmp.copy())
        tmp.clear()
        tmp.append(i)

if tmp:
    ans.append(tmp.copy())

print(ans)

[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
[['0,'], ['1,'], ['2,'], ['3,'], ['4,', '4,', '4,'], ['4]'], ['5,'], ['6,', '6,', '6,'], ['7,'], ['8,'], ['9,'], ['[0,']]

Câu 7:

In [40]:
my_list = [num for num in input().split()]

n = int(input("Nhập n: "))

arr = []
if len(my_list) % n != 0:
    print("Không chia hết cho: ", n)
else:
    for i in range(n):
        new_list = []
        for j in range(i, len(my_list), n):
            new_list.append(my_list[j])
        arr.append(new_list)
    print(arr)

a b c d e f
Nhập n: 2
[['a', 'c', 'e'], ['b', 'd', 'f']]