Câu 1:

In [22]:
from datetime import datetime

def Tinh_ngay(date_str):
    input_date = datetime.strptime(date_str, "%d/%m/%Y")

    end_of_year = datetime(input_date.year, 12, 31)
    ans = (end_of_year - input_date).days

    return ans

input_date = input("Nhập vào một chuỗi ngày (dd/mm/yyyy): ")

result = Tinh_ngay(input_date) + 1
print(result)

Nhập vào một chuỗi ngày (dd/mm/yyyy): 12/05/2001
234

Câu 2:

In [26]:
# Nhập số lượng số và danh sách số từ người dùng
n = int(input())
a = list(map(int, input().split()))

# lấy kết quả
ans_list = [num for num in a if num % 2 != 0]
ans_list.sort()

# In kết quả
print(len(ans_list))
print(" ".join(map(str, ans_list)))

10
1 4 29 187 2 30 50 87 12 34
4
1 29 87 187

Câu 3:

In [25]:
import re
# Nhập chuỗi
chuoi = input("Nhập vào một chuỗi: ")

# Tìm số trong chuỗi
so_list = re.findall(r'-?\d+', chuoi)

# Tính tổng các số
ans = sum(map(int, so_list))

# In kết quả
print(ans)

Nhập vào một chuỗi: chitu21anh34kdf-234
-179

Câu 4:

In [32]:
n = int(input())
arr = list(map(int, input().split()))
even = sum(num for num in arr if num % 2 == 0)
odd = sum(num for num in arr if num % 2 != 0)
if (even > odd):
  print('even')
elif (even < odd):
  print('odd')
else:
  print('equal')

5
1 2 3 4 5
odd